
<?xml version="1.0" encoding="UTF-8"?>
<ServerConfig>

    <!-- Host Name of the web server -->
    <Host>lattadata</Host>
    <Port>8080</Port>

    <!-- Directory where static web files are served from -->
    <WebDirectory>/var/www/lattadata</WebDirectory>

    <!-- Route definitions -->
    <Routes>
        <Route method="POST" endpoint="index.html" script="scripts/contact.py" />
    </Routes>
</ServerConfig>
